# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# VIM
*.swp

# Sensitive SQLs and map files
sortinghat.sql
.organizationmap
.mailmap

# Go binary
import-metadata

# Others
out
*.json
*.csv
*.yaml
*.sql
*.secret
